Imports

In [1]:
import pandas as pd
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql import text

## Create a SQL DATABASE with our dataset.

### 1. we connect to my PostgreSQL database in aws rds using SQLAlchemy

### 2. we push our pandas dataframe to the sql database using df.to_sql() method. It is not necessary to explicitely define the table structure in SQLAlchemy.

In [2]:
df_final = pd.read_csv('s3://projet-kayak-jedha/df_final_kayak_project.csv')

# Drop the unnecessary columns

df_final = df_final.drop(columns=['coordinates'])

In [3]:
from sqlalchemy import create_engine

# Replace with actual values
username = "postgres"
password = "jedhapassword"
endpoint = "jedha-db-adei.clcggo264zgf.eu-west-3.rds.amazonaws.com"
dbname = "postgres"
port = "5432"  # This should be a valid integer

#jedha-db-adei.clcggo264zgf.eu-west-3.rds.amazonaws.com
# Create the connection string
connection_string = f"postgresql+psycopg2://{username}:{password}@{endpoint}:{port}/{dbname}"

# Create the engine
engine = create_engine(connection_string)

Push df to the sql database

In [4]:
df_final.to_sql('hotel_info', con=engine, if_exists='replace', index=False)


Base = declarative_base()

class HotelInfo(Base):
    __tablename__ = 'hotel_info'

    # Define columns based on your DataFrame's schema
    city_id = Column(Integer, primary_key=True)  # Assuming city_id is your primary key
    city = Column(String)
    hotel = Column(String)
    url = Column(String)
    note = Column(String)
    description = Column(String)
    hotel_latitude = Column(Float)
    hotel_longitude = Column(Float)
    city_lat = Column(Float)
    city_lon = Column(Float)
    temperature = Column(Float)
    POP_1 = Column(Float)  # Change to appropriate type if needed
    POP_2 = Column(Float)
    POP_3 = Column(Float)
    POP_4 = Column(Float)
    POP_5 = Column(Float)
    
    def __repr__(self):
        return (f"HotelInfo:\n"
                f"  City: {self.city}\n"
                f"  Hotel: {self.hotel}\n"
                f"  URL: {self.url}\n"
                f"  Note: {self.note}\n"
                f"  Description: {self.description}...  # Preview description\n"
                f"  Latitude: {self.hotel_latitude}\n"
                f"  Longitude: {self.hotel_longitude}\n"
                f"  City Latitude: {self.city_lat}\n"
                f"  City Longitude: {self.city_lon}\n"
                f"  Temperature: {self.temperature}\n"
                f"  POP 1: {self.POP_1}\n"
                f"  POP 2: {self.POP_2}\n"
                f"  POP 3: {self.POP_3}\n"
                f"  POP 4: {self.POP_4}\n"
                f"  POP 5: {self.POP_5}\n")

/var/folders/sp/y1prs_xd6c5dq9mttys340t40000gn/T/ipykernel_59867/2152229356.py:4: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

# Query Examples on our database

Query with text

In [5]:
username = "postgres"
password = "jedhapassword"
endpoint = "jedha-db-adei.clcggo264zgf.eu-west-3.rds.amazonaws.com"
dbname = "postgres"
port = "5432"  # This should be a valid integer


# connection string 
DATABASE_URI = f"postgresql+psycopg2://{username}:{password}@{endpoint}:{port}/{dbname}"

# Create an engine to connect to the database
engine = create_engine(DATABASE_URI)

# query using text()
stmt = text("SELECT city, hotel, temperature FROM hotel_info WHERE city = :city_name")

# Connection and query execution
with engine.connect() as conn:
    result = conn.execute(stmt, {"city_name": "Paris"})  
    
    for row in result:
        print(row)

('Paris', 'Hôtel Diva Opera', 20.840000000000032)
('Paris', 'Tipi', 20.840000000000032)
('Paris', 'Hôtel Du Mont Dore Batignolles', 20.840000000000032)
('Paris', 'Hôtel de Genève', 20.840000000000032)
('Paris', 'B&B HOTEL Paris 17 Batignolles', 20.840000000000032)
('Paris', 'ibis Paris Gare du Nord Château Landon 10ème', 20.840000000000032)
('Paris', 'GREEN PARK HOTEL PARIS', 20.840000000000032)
('Paris', 'Hôtel Avenir Jonquière', 20.840000000000032)
('Paris', 'Hipotel Paris Père-Lachaise République', 20.840000000000032)
('Paris', 'Hotel Viator - Gare de Lyon', 20.840000000000032)
('Paris', 'Hôtel Paris Vaugirard', 20.840000000000032)
('Paris', 'Color Design Hotel', 20.840000000000032)
('Paris', 'Hotel Paris Italie', 20.840000000000032)
('Paris', 'Kyriad Hotel XIII Italie Gobelins', 20.840000000000032)
('Paris', 'Arcadie Montparnasse', 20.840000000000032)
('Paris', 'citizenM Paris Gare de Lyon', 20.840000000000032)
('Paris', 'Hotel CIS Paris Maurice Ravel', 20.840000000000032)
('Paris', 'Pavillon Nation', 20.840000000000032)
('Paris', "Appart'City Classic Paris La Villette", 20.840000000000032)
('Paris', 'Amadeus Hotel', 20.840000000000032)
('Paris', 'Courcelles Etoile', 20.840000000000032)
('Paris', 'ibis Styles Paris Bercy', 20.840000000000032)
('Paris', 'HOTEL LOUVAIN', 20.840000000000032)
('Paris', 'WS Louvre - Casanova', 20.840000000000032)
('Paris', 'Grand Hôtel De Paris', 20.840000000000032)

In [6]:
engine = create_engine(DATABASE_URI)


query = text("SELECT city, hotel, temperature FROM hotel_info LIMIT 10")

# Open a connection and execute the query
with engine.connect() as conn:
    result = conn.execute(query)
    
    # Fetch the results and print them
    for row in result:
        print(f"City: {row.city}, Hotel: {row.hotel}, Temperature: {row.temperature}")

City: Paris, Hotel: Hôtel Diva Opera, Temperature: 20.840000000000032
City: Paris, Hotel: Tipi, Temperature: 20.840000000000032
City: Paris, Hotel: Hôtel Du Mont Dore Batignolles, Temperature: 20.840000000000032
City: Paris, Hotel: Hôtel de Genève, Temperature: 20.840000000000032
City: Paris, Hotel: B&B HOTEL Paris 17 Batignolles, Temperature: 20.840000000000032
City: Paris, Hotel: ibis Paris Gare du Nord Château Landon 10ème, Temperature: 20.840000000000032
City: Rouen, Hotel: Eaux Spa, Temperature: 19.340000000000032
City: Rouen, Hotel: The Originals City, Hôtel Notre Dame, Rouen, Temperature: 19.340000000000032
City: Besançon, Hotel: Hôtel Restaurant Spa Le Sauvage, Temperature: 23.57000000000005
City: Strasbourg, Hotel: grand appartement 7 personnes Neudorf, Strasbourg, Temperature: 22.960000000000036